@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
  font-family: 'Asul, Ariel, Sans-Serif';
  padding: 20px;
  background-image: url("images/dirt.jpg"); /*Background image*/
  }
  
  .survey {
  width: 80%;
  background-color: #5b4724; /* color that contrasts but keeps dark theme */
  color: #ebebeb;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px 50px 10px 70px;
  }
  
  form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 4em; /* padding around forms */
  }
  
  h1, p {
  margin: 1em auto;
  text-align: center;
  }
  
  p2 {
  margin-bottom: 5pt; /* padding under input descripters */
  }
  
  h2, h3 {
  font-family: 'Asul, Ariel, Sans-Serif';
  color: #171109;
  }
  
  h2:last-of-type {
  padding-bottom: 2px;  /* padding under h2 to provide eye space */
  }
  
  label {
  display: block;
  margin: 1.5rem 0;
  width: 100%;
  font-size: 12pt;
  }
  
  input [type="text, email, number"], textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  }  /* configure good spacing for the input areas */
  
  input, textarea, select {
  cursor: pointer;
  padding-top: 10pt;
  } /* cursor for inputs */
  
  fieldset {
   border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3e2509;
  border-top: #3e2509;
  }
  
  .info {
  display: grid;
  }
  
  .improvements {
  justify-content: space-between; 
  display: flex;
  align-items: center;
  padding: 8px;
  } /* justify the improvements so they are inline and spaced */
  
  textarea {
  background-color: #e9ecd9;
  border: 1px solid #0a0a23;
  color: #030303;
  }
  
  input[type="submit"] {
  display: block;
  margin: 1em auto;
  height: 2em;
  background-color: grey;
  border-color: white;
  min-width: 100px;
  font-family: 'Asul, Ariel, Sans-Serif';
  font-size: 1.1rem;
  font-weight: bold; /* bold submit */
  color: #171109; /* color for submit */
  text-transform: uppercase; /* all caps submit */
  text-decoration: underline; /* underline submit */
  padding: 3pt; /* padding to center submit in the box */
  }  